:root {
    --main-background-color:#f5f1f1;
    /*--main-background-color:#eae9e5;*/
    --second-background-color:#efc8c8;

    --main-text-color:#354b8a;
    --general-text-color:#5475c0;

    --element-color:#fee280;
    --element-color2: #bdd3cc;
}