body {
    background: #FFEFD5;
    font-size: 17px;
    font-weight: normal;
}

/*h1 {*/
/*    color: #72808C;*/
/*}*/

pre {
    color: #8C6C6B;
}


/*#D7D9A5;*/
/*#A5C2D9;*/
/*#72808C;*/
/*#D9BCBB;*/
/*#8C6C6B;*/
